package showcase

import (
	"github.com/htetmyatthar/templui/pkg/components"
	"github.com/htetmyatthar/templui/pkg/icons"
)

templ CheckboxCustomIcon() {
	@components.Checkbox(components.CheckboxProps{
		Icon:    icons.Plus(icons.IconProps{Size: "12"}),
		Checked: true,
	})
}
