package showcase

import "github.com/htetmyatthar/templui/pkg/components"

templ DropdownMenuDefault() {
	@components.DropdownMenu(components.DropdownMenuProps{
		Items: []components.DropdownMenuItem{
			{Label: "Profile", Value: "profile"},
			{Label: "Settings", Value: "settings"},
			{Label: "Logout", Value: "logout"},
		},
	})
}
